anyio @ file:///C:/ci_311/anyio_1676425491996/work/dist
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci_311/argon2-cffi-bindings_1676424443321/work
asgiref==3.7.2
asttokens==2.2.1
attrs @ file:///C:/ci_311/attrs_1676422272484/work
backcall==0.2.0
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
cffi @ file:///C:/ci_311/cffi_1676423759166/work
colorama==0.4.6
comm==0.1.4
debugpy==1.6.7
decorator==5.1.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Django==4.2.4
djangorestframework==3.14.0
entrypoints @ file:///C:/ci_311/entrypoints_1676423328987/work
executing==1.2.0
fastjsonschema @ file:///C:/ci_311/python-fastjsonschema_1679500568724/work
idna @ file:///C:/ci_311/idna_1676424932545/work
ipykernel==6.25.1
ipython==8.14.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi==0.19.0
Jinja2 @ file:///C:/ci_311/jinja2_1676424968965/work
jsonschema @ file:///C:/b/abs_d40z05b6r1/croot/jsonschema_1678983446576/work
jupyter-server @ file:///C:/ci_311/jupyter_server_1678228762759/work
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
lxml @ file:///C:/b/abs_c2bg6ck92l/croot/lxml_1679646459966/work
MarkupSafe @ file:///C:/ci_311/markupsafe_1676424152318/work
matplotlib-inline==0.1.6
mistune @ file:///C:/ci_311/mistune_1676425149302/work
nbclassic @ file:///C:/b/abs_c8_rs7b3zw/croot/nbclassic_1681756186106/work
nbclient @ file:///C:/ci_311/nbclient_1676425195918/work
nbconvert @ file:///C:/ci_311/nbconvert_1676425836196/work
nbformat @ file:///C:/ci_311/nbformat_1676424215945/work
nest-asyncio==1.5.7
notebook @ file:///C:/b/abs_e2qn6c85jb/croot/notebook_1690985290943/work
notebook_shim @ file:///C:/ci_311/notebook-shim_1678144850856/work
packaging==23.1
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso==0.8.3
pickleshare==0.7.5
platformdirs @ file:///C:/ci_311/platformdirs_1676422658103/work
prometheus-client @ file:///C:/ci_311/prometheus_client_1679591942558/work
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.16.1
pyrsistent @ file:///C:/ci_311/pyrsistent_1676422695500/work
python-dateutil==2.8.2
pytz==2023.3
pywin32==305.1
pywinpty @ file:///C:/ci_311/pywinpty_1677707791185/work/target/wheels/pywinpty-2.0.10-cp311-none-win_amd64.whl
pyzmq==25.1.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
six==1.16.0
sniffio @ file:///C:/ci_311/sniffio_1676425339093/work
soupsieve @ file:///C:/b/abs_a989exj3q6/croot/soupsieve_1680518492466/work
sqlparse==0.4.4
stack-data==0.6.2
terminado @ file:///C:/ci_311/terminado_1678228513830/work
tinycss2 @ file:///C:/ci_311/tinycss2_1676425376744/work
tornado==6.3.2
traitlets==5.9.0
typing_extensions @ file:///C:/b/abs_213vg2cd1l/croot/typing_extensions_1690297804941/work
tzdata==2023.3
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///C:/ci_311/websocket-client_1676426063281/work
